<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rate Flow</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="container" style="padding-top: 20px">
    <div class="row">
      <%- include("partials/navbar") %>
      <div class="col-8 border h-full">
        <h1>API Keys</h1>
        <p>
          Here are the active API keys for your account, which you can currently
          use to access the Rates Flow's API. You can add and remove API keys or
          expire old ones.
        </p>
        <div class="w-full p-2">
          <!-- Container for api key creation  -->
          <h1>Api keys</h1>
          <table  class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Created date</th>
                <th>Last used</th>
                <th>Deactivate</th>
              </tr>
            </thead>
            <tbody id="apikeys">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/js/apikeys.js"></script>
  </body>
</html>
