<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rate Flow</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="container" style="padding-top: 20px;">
    <div class="row">
      <%- include("partials/navbar") %>
      <div class="col-8 border">jhyuv</div>
    </div>
  </body>
</html>
