<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/style.css" />
  </head>
  <body>
    <header>
      <nav class="p-3 border-b-2 border-black">
        <a href="/" class="text-3xl font-bold">Rate Flow</a>
      </nav>
    </header>
    <main class="flex h-[88vh] border">
     <div class="h-full md:w-[200px] p-2">
      <div>
       <h2 class="text-lg font-semibold">Documentation</h2>
       <ul>
        <li><a href="#api-introduction">API Introduction</a></li>
       </ul>
      </div>
     </div>
     <div class="h-full md:w-[calc(100%-200px)]">
      <section id="api-introduction"></section>
     </div>
    </main>
  </body>
</html>
